.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.html {
   background: #000000;

}
.container{
   background: #000000;
}

.our-team{
   border-radius: 15px;
   text-align: center;
   padding: 30px 10px 20px;
   background: #fff;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: row;
   margin: 10px;

}
.our-team .pic{
   background: #fff;
   padding: 10px;
   margin-bottom: 25px;
   display: inline-block;
   width: 100%;
   height: 100%;
   transition: all 0.5s ease 0s;
}
.our-team:hover .pic{
   background: #17bebb;
   border-radius: 50%;
}
.pic img{
   width: 100%;
   height: auto;
   border-radius: 50%;
}
.our-team .title{
   font-weight: 600;
   color: #2e282a;
   text-transform: uppercase;
   display: block;
   font-size: 20px;
   margin: 0 0 7px 0;
}
.our-team .post{
   color: #17bebb;
   text-transform: capitalize;
   display: block;
   font-size: 15px;
   margin-bottom: 15px;
}

.our-team .social{
   padding: 0;
   margin: 0;
   list-style: none;
}
.our-team .social li{
   display: inline-block;
   margin-right: 5px;
}
.our-team .social li a{
   border-radius: 50%;
   font-size: 15px;
   color: #17bebb;
   border: 1px solid #17bebb;
   display: block;
   width: 30px;
   height: 30px;
   line-height: 30px;
   transition: all 0.5s ease 0s;
}
.our-team:hover .social li a{
   background: #17bebb;
   color: #fff;
}

.our-team:hover .pic{
   background: #17bebb;
   border-radius: 50%;
}
.our-team:hover .social li a{
   background: #17bebb;
   color: #fff;
}

.containerw {
	width: 500px;
	margin:7% auto;
  height: 650px;
	border-radius: 25px;
	box-shadow: 0 0 17px #333;
  background-color: rgb(44, 146, 241);
  background-image: linear-gradient(rgb(44, 195, 206), rgb(14, 52, 223));
}

.headerw {
	text-align: center;
	padding-top: 75px;
}

.headerw h1 {
	color: black;
	font-size: 45px;
	margin-bottom: 80px;
}

.mains {
	text-align: center;
}

.mains input, button {
	width: 300px;
	height: 40px;
	border:none;
	outline: none;
	padding-left: 40px;
	box-sizing: border-box;
	font-size: 15px;
	color: #333;
	margin-bottom: 40px;
}

.mains button {
	padding-left: 0;
	background-color: #83acf1;
	letter-spacing: 1px;
	font-weight: bold;
	margin-bottom: 10px;
}

.mains button:hover {
	box-shadow: 2px 2px 5px #555;
	background-color: #7799d4;
}
.mains input:hover {
	box-shadow: 2px 2px 5px #555;
	background-color: #ddd;
}

.mains span {
	position: relative;
}

.mains i {
	position: relative;
	left: 15px;
	color: #333;
	font-size: 16px;
	top: 2px;
}

.signupFrm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formx {
  background-color: white;
  width: 400px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.titlex {
  font-size: 50px;
  margin-bottom: 50px;
}

.inputContainer {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
}

.inputx {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #DADCE0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}


.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: #DADCE0;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

.submitBtn {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: purple;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.submitBtn:hover {
  background-color: #9867C5;
  transform: translateY(-2px);
}

.inputx:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: purple;
}

.inputx:focus {
  border: 2px solid purple;
}

.inputx:not(:placeholder-shown)+ .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}
