.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html{
   background: #000000;
   margin-top: 100px;

}
.container{
   background: #000000;
}

.our-team{
   border-radius: 15px;
   text-align: center;
   padding: 10px 10px 20px;
   background: #fff;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: row;
   margin: 10px;

}
.our-team .pic{
   background: #fff;
   padding: 10px;
   margin-bottom: 25px;
   display: inline-block;
   width: 100%;
   height: 100%;
   transition: all 0.5s ease 0s;
}
.our-team:hover .pic{
   background: #17bebb;
   border-radius: 50%;
}
.pic img{
   width: 100%;
   height: auto;
   border-radius: 50%;
}
.our-team .title{
   font-weight: 600;
   color: #2e282a;
   text-transform: uppercase;
   display: block;
   font-size: 20px;
   margin: 0 0 7px 0;
}
.our-team .post{
   color: #17bebb;
   text-transform: capitalize;
   display: block;
   font-size: 15px;
   margin-bottom: 15px;
}

.our-team .social{
   padding: 0;
   margin: 0;
   list-style: none;
}
.our-team .social li{
   display: inline-block;
   margin-right: 5px;
}
.our-team .social li a{
   border-radius: 50%;
   font-size: 15px;
   color: #17bebb;
   border: 1px solid #17bebb;
   display: block;
   width: 30px;
   height: 30px;
   line-height: 30px;
   transition: all 0.5s ease 0s;
}
.our-team:hover .social li a{
   background: #17bebb;
   color: #fff;
}

.our-team:hover .pic{
   background: #17bebb;
   border-radius: 50%;
}
.our-team:hover .social li a{
   background: #17bebb;
   color: #fff;
}

h2 {
   font-weight: 1000;
   font-size: 500px;
   font-family: "Lucida Console", "Courier New", monospace;
   width: 100%;
   text-align: center;
   margin-bottom:20px;
   color:white;
}

/* Wasim's sign up */
/* 
.input{
   width: 50%;
 }
 
 body#login{
   background-color: burlywood;
   text-align: center;
<<<<<<< HEAD
 }
 body#blog{
   background-color: burlywood;
   text-align: center;
 }
 body#viewBlog{
   background-color: burlywood;
 }
 input#email,#password, #title, #dateAndTime {
   outline: none;
   display: block;
   width: 100%;
   margin: 0 0 20px;
   padding: 10px 15px;
   border: 1px solid #ccc;
   color: #ccc;
   font-family: "Roboto";
   box-sizing: border-box;
   font-size: 14px;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   transition: 0.2s linear;
 } */


 .Signup{
   text-align: center;
<<<<<<< HEAD
   background-color:black;
   } 
=======
=======
>>>>>>> parent of a0de5e5 (double classes of signup and btn removed and remaining signup and button changed)
   background-color:green;
   }
>>>>>>> parent of a0de5e5 (double classes of signup and btn removed and remaining signup and button changed)

   .label{
   display: block;
   font-size: larger;
   color: white;
   padding: 5px;
   }

   .input{
   font-size: larger;
   padding: 5px;
   margin: 2px;

   }
   .btn{
   color: white;
<<<<<<< HEAD
<<<<<<< HEAD
   background-color: rgb(30, 98, 201);
   border-radius: 5px;
   font-size: large;
=======
   background-color: red;
   border-radius: 5px;
   font-size: larger;
>>>>>>> parent of a0de5e5 (double classes of signup and btn removed and remaining signup and button changed)
=======
   background-color: red;
   border-radius: 5px;
   font-size: larger;
>>>>>>> parent of a0de5e5 (double classes of signup and btn removed and remaining signup and button changed)
   display: block;
   padding: 5px;
   margin: 10px auto;
   }

   .messages{
   display: flex;
   justify-content: center;
   }

   .error{
   display: block;
   background-color: red;
   color: white;
   width: fit-content;
   height: 50px;
   padding: 5px;
   } 


<<<<<<< HEAD
<<<<<<< HEAD
   /* Haotien's css for sign up page */
   .label{
=======
=======

>>>>>>> parent of a0de5e5 (double classes of signup and btn removed and remaining signup and button changed)
   /* Haotien's css for sign up page*/
   .Signup{
      text-align: center;
      background-color:black;
      }
  
      .label{
>>>>>>> parent of a0de5e5 (double classes of signup and btn removed and remaining signup and button changed)
      display: block;
      font-size: larger;
      color: white;
      padding: 5px;
      }
  
   .input{
      font-size: larger;
      padding: 5px;
      margin: 2px;
<<<<<<< HEAD
   }
=======
  
      }
      .btn{
         color: white;
         background-color: rgb(30, 98, 201);
         border-radius: 5px;
         font-size: larger;
         display: block;
         padding: 5px;
         margin: 10px auto;
      }
>>>>>>> parent of a0de5e5 (double classes of signup and btn removed and remaining signup and button changed)
  
      .messages{
      display: flex;
      justify-content: center;
      }
  
      .error{
      display: block;
      background-color: rgb(30, 98, 201);
      color: white;
      width: fit-content;
      height: 50px;
      padding: 5px;
      }
  
      .success{
      display: block;
      background-color: lightblue;
      color: black;
      width: fit-content;
      height: 50px;
      padding: 5px;
      } 


